[Desktop Entry]
Name=GpsDrive
Comment=GPS Navigation
Comment[de]=GPS Navigationsprogramm
Exec=gpsdrive
Icon=gpsdrive
Terminal=false
Type=Application
Categories=Graphics;Network;Geography;
StartupNotify=true
